@import "~src/styles/colors.scss";
@import "~src/styles/mixins.scss";
@import "~src/styles/forms.scss";

.login-background {
  @include position(absolute, 0, 0, 0, 0);
  overflow: hidden;
  z-index: -1;

  .background-image {
    width: 100%;
    object-fit: cover;
  }
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .login-box {
    background: $dark-grey;
    padding: 140px 110px;
    border-radius: 25px;
  }

  .login-form {
    padding-top: 50px;

    .form-group {
      .form-control {
        width: 100%;
      }
    }
  }
}

.btn-container {
  width: 80%;
  margin: auto;

  .btn {
    width: 100%;
  }
}
